* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Caveat', cursive;;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: url('images/pattern-2.png');
  background-size: 20%;
  color: #564966;
}

a {
  font-family: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

input {
  display: none;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem;
}

.slider {
  max-height: 100vh;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.slider-top {
  overflow: hidden;
  margin-bottom: 20px;
  width: 70vw;
}

.slider-items {
  display: flex;
  width: 280vw;
  transition: all 0.5s;
}

.slider-item {
  width: 70vw;
}

.slider-img {
  border-radius: 0.5rem;
  margin: 0 auto;
}

.slider-bottom {
  display: flex;
  justify-content: space-between;
}

.slider-description {
  overflow: hidden;
  width: 400px;
}

.slider-texts {
  /* max-width: 200px; */
  display: flex;
  width: 400%;
  transition: all 0.5s;
}

.slider-text {
  width: 400px;
}

.slider-btn {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  /* border: 5px solid #2f363c; */
  background-color: #564966;
}

#radio-1:checked~ .slider-bottom .slider-controls .slider-btn[for="radio-1"],
#radio-2:checked~ .slider-bottom  .slider-controls .slider-btn[for="radio-2"],
#radio-3:checked~ .slider-bottom  .slider-controls .slider-btn[for="radio-3"],
#radio-4:checked~ .slider-bottom  .slider-controls .slider-btn[for="radio-4"] {
  background-color: white;
}

#radio-1:checked~ .slider-top .slider-items {
  transform: translate(0);
}

#radio-2:checked~ .slider-top .slider-items {
  transform: translate(-70vw);
}

#radio-3:checked~ .slider-top .slider-items {
  transform: translate(-140vw);
}
#radio-4:checked~ .slider-top .slider-items {
  transform: translate(-210vw);
}

#radio-1:checked~ .slider-bottom .slider-description .slider-texts {
  transform: translate(0);
}

#radio-2:checked~ .slider-bottom .slider-description .slider-texts {
  transform: translate(-400px);
}

#radio-3:checked~ .slider-bottom .slider-description .slider-texts {
  transform: translate(-800px);
}
#radio-4:checked~ .slider-bottom .slider-description .slider-texts {
  transform: translate(-1200px);
}
